html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--ac-white);
  color: var(--ac-text-base);
  font-family: $font-family-sans-serif;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: var(--ac-primary-base);
}